* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 15px 16px;
  text-transform: uppercase;
  background-color: #3172B9;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.text-center{
  text-align: center;
}

/* Header */

.header {
  height: 110px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

/* End Header */

/* Hero */

.header-btn {
  margin-left: 80px;
}

.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}

.hero-content {
  max-width: 50%;
}

.section-hero-heading {
  margin-bottom: 20px;
}

.section-hero-description {
  margin-bottom: 30px;
}

.section-hero-btn-description {
  margin-top: 10px;
}

/* End Hero */

/* What we do */

.section-do {
  padding-top: 140px;
  padding-bottom: 100px;
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  display: flex;
  margin-top: 50px;
}

.section-do-item{
  flex: 1 1 25%;
}

.section-do-item:not(:last-child){
  margin-right: 30px;
}

/* End What we do */

/* Clients */

.section-clients{
  padding-top: 90px;
  padding-bottom: 100px;
}

.section-clients-list{
  display: flex;
}

.section-clients-item{
  flex:1 1 33.33%;
}

.section-clients-item:not(:last-child){
  margin-right: 30px;
}

.section-clients-user{
  display: flex;
  align-items: center;
}

.section-clients-avatar{
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 2px solid #4086D3;
  border-radius: 50%;
}

/* End Clients */

/* Contacts */

.section-contacts{
  padding-top: 85px;
  padding-bottom: 95px;
}

.section-contacts-list{
  display: flex;
  margin-top: 43px;
}

.section-contacts-item{
  flex:1 1 33.33%;
}

.section-contacts-info{
  max-width: 250px;
}

.section-contacts-icon{
  display: block;
  height: 26px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps{
  background-image: url('/img/gps.png');
}

.section-contacts-icon-phone{
  background-image: url('/img/phone.png');
}

.section-contacts-icon-mail{
  background-size: auto 19px;
  background-image: url('/img/mail.png');
}

.section-contacts-heading{
  display: block;
  margin-bottom: 40px;
}

/* End Contacts */

